$timeline-color: $medium-gray;
$timeline-icon-color: $white;
$timeline-transition: all 0.25s ease-in;
$timeline-item-card-bg: $white;
$timeline-item-font-color: $text-color;
$timeline-item-card: false;
$timeline-item-card-radius: $global-radius;

%clearfix {
  &::after, &::before { clear: both; content: ""; display: block; width: 100%; }
}

// Timeline
.timeline { margin: 1rem auto; padding: 0 10px; position: relative; transition: $timeline-transition; width: 100%;
  &::before { background: $timeline-color; content: ""; height: 100%; left: 1.675rem; position: absolute; top: 0; width: 3px; }
  &::after { clear: both; content: ""; display: table; width: 100%; }

  a { color: $timeline-item-font-color; font-weight: bold; transition: $timeline-transition; 
    &:hover { box-shadow: 0 1px 0 0 $timeline-item-font-color; transition: $timeline-transition; }
  }

  .timeline-dot { background-color: $radiant-blue; width: 1rem; height: 1rem; border-radius: 50%; position: absolute; left: -.375rem;
    @include breakpoint(medium) { left: 0.675rem; }
  }

  .experience .timeline-dot {  margin-top: .25rem;
    @include breakpoint(medium) { margin-top: .5625rem; }
  }

  .education .timeline-dot { margin-top: .1875rem; }

  .timeline-item { padding-left: 2rem; position: relative; @extend %clearfix;
    h2 { padding: .75rem .5rem;
      @include breakpoint(medium) { padding: 0 2rem; }
    }

    .timeline-icon { background: $radiant-blue; border-radius: 50%; height: 50px; left: 1rem; margin-left: -23px; overflow: hidden; position: absolute; display: flex; align-items: center; justify-content: center; top: 0; width: 50px;
      i { color: $white; font-size: 1.675rem; }
      .fa-award { font-size: 2rem; }
    }

    .timeline-content {  padding: 1.625rem .5rem; text-align: left; transition: $timeline-transition; width: 70%;
      @include breakpoint(medium) { padding: 1.5rem 2rem; }     

      @if $timeline-item-card == true {
        background: $timeline-item-card-bg;
        border-radius: $timeline-item-card-radius;
        p { color: $black; }
      } @else {
        background: transparent;
        p { color: $timeline-item-font-color; }
      }
      p { font-size: 16px; line-height: 1.4; margin-bottom: 0; }
      h5 small { color: $black; font-size: 70%; }
    }
  }

  .skills .timeline-content { padding: .5rem 2rem;
    .timeline-dot { margin-top: .125rem; }
  }
}

@include breakpoint(small only) {
  .timeline { margin: 30px; padding: 0; width: 90%;
    &::before { left: 0; }
    .timeline-item {
      .timeline-content { width: 100%;
        &::before { border-left: 0; border-right: 7px solid $timeline-color; left: 10%; margin-left: -6px; }
      }
      .timeline-icon { left: 0; }
    }
  }
}

@media print {
  .timeline-content { width: 100%!important; }
}