@mixin dark-mode {
    $inner-background-color: #2e2e2e;
    html, body { background-color: #121212;
        @media print { background-color: $white; }
    }
    h1, h2, h3, h4, p, ul , li { color: $white;
        @media print { color: $text-color; }
    }
    .page-wrapper > .row > .col:last-child { background-color: $inner-background-color;
        @media print { background-color: $white; }
    }
    .info {
        &-row { color: $white;
            @media print { color: $text-color; }
            .icon { color: $radiant-blue;
                @media print { color: $text-color; }
            }
        }
        .address, .birthday-date, a { color: $white;
            @media print { color: $text-color; }
        }
    }
    .timeline {
        &-dot { border-color: $inner-background-color;
            @media print { border-color: $white; }
        }
        &-content {
            p, a, strong, em { color: $white;
                @media print { color: $text-color; }
            }
        }
    }
}

@media (prefers-color-scheme: dark) { @include dark-mode; }
.dark-mode { @include dark-mode; }