@import 'base';

html, body { transition: background-color .75s ease; // for dark mode purposes
    @media (prefers-reduced-motion) { transition: none; }
}

p { line-height: 1.4; }
em { font-weight: 300; }
ul { padding: 0 1rem;
    li { margin-bottom: .5rem; }
}

.accessibility-features { position: fixed; transition: transform .5s ease-in; transform: translate(-100%, 1.5rem);
    &:focus-within { transform: translate(10%, 1.5rem); transition-timing-function: ease-out;
        + .dark-mode-switch { transform: translate(10rem, .75rem); transition-timing-function: ease-out; }
    }
}

.jump-to-content { @include button-style; text-decoration: none;
    @media (prefers-reduced-motion) { transition: none; }
    &:hover, &:focus { text-decoration: underline; }
    &:focus-visible { outline: none; }
}
.dark-mode-switch { position: fixed; @include button-style; cursor: pointer; transform: translate(.5rem, .75rem); transition: transform .5s ease-in;
    @media (min-width: $medium-breakpoint) { transform: translate(1rem, .75rem); }
    @media print { display: none; }
    @media (prefers-color-scheme: dark) { display: none; }
}

.page-wrapper {
    > .row { max-width: 100%; margin: 0 auto; display: flex;
        @media (min-width: $medium-breakpoint) { max-width: 75rem; }
        > .col {
            &:first-child { background-color: $radiant-blue; width: 10%;
                @media print { display: none; }
            }
            &:last-child { background-color: $light-gray; width: 90%; flex-direction: column; padding: 1rem;
                @media (min-width: $medium-breakpoint) { padding: 1.5rem; }
                @media print { width: 100%; background-color: $white; }
            }
        }
    }
}

.main-header { padding: 1rem 0;
    @media (min-width: $medium-breakpoint) { padding: 1rem; }
    h1 { font-weight: 300; margin: 0; }
    h2 { margin: 0;
        @media (min-width: $medium-breakpoint) { margin-top: .5rem; }
    }
}

.info {
    @media (min-width: $medium-breakpoint) { padding: 1rem; }
    &-row { display: flex; align-items: center; margin-bottom: 1rem; color: $primary-color; }
    .icon { margin-right: .5rem; display: flex; justify-content: center; width: 1.5rem; color: $primary-color; }
    .address, .birthday-date { color: $text-color; }
    a { color: $text-color; text-decoration: none;
        &:hover, &:focus { text-decoration: underline; }
    }
    .lead { margin-top: 2rem; }
}

.printBtn { @include button-style; position: fixed; display: flex; transition: all .2s ease; left: 0.5rem; bottom: .5rem; font-size: 1.5rem;
    @media (prefers-reduced-motion) { transition: none; }
    @media (min-width: $medium-breakpoint) { left: 1rem; bottom: 1rem;
        &:hover { bottom: 1.5rem; left: 1.5rem; cursor: pointer; }
    }
}

.hide-for-print {
    @media print { display: none; }
}